* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background-image: url(./assets/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  background: url(./assets/bg-desktop.jpg) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: white;
}
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto auto auto;
}
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  border: 5px white solid;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
  padding: 8px;
}
ul {
  list-style-type: none;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
ul li a {
  text-decoration: none;
  border: 1px solid rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  border-radius: 100px;
  align-items: center;
  padding: 16px 24px;
  background: rgba(255, 195, 195, 0.1);
  transition: background 0.5s;
  backdrop-filter: blur(4px);
}
ul li a:hover {
  background: rgba(0, 0, 0, 0.05);
  border: 1.5px solid rgb(22, 22, 22);
}
#icon {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 16px;
  font-size: 20px;
}
#icon a {
  border-radius: 20px;
  background: var(--highlight-color-dark-mode, rgba(255, 255, 255, 0.2));
  font-size: larger;
  padding: 12px 16px;
}
#icon a:hover {
  border-radius: 20px;
  background: var(--highlight-color-dark-mode, rgba(255, 255, 255, 0.02));
  font-size: larger;
  padding: 12px 16px;
  transition: 0.2s;
}
